extends layout

block content
  .row.page-header
    .col-lg-12
      h2 Starcups
  .row    
  .col-xs-12.col-sm-12.location-map
       .section
          
              img.img-responsive(src='http://wfiles.brothersoft.com/f/funny-farm-animals_74857-1440x900.jpg') 
              |<hr>
    
      .col-xs-12.col-sm-4.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Location Restaurants
            .panel-body
              img.img-responsive.img-rounded(src='http://wfiles.brothersoft.com/f/funny-farm-animals_74857-1440x900.jpg')

    .col-xs-12.col-sm-4.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title View Reviews
            .panel-body
              img.img-responsive.img-rounded(src='http://wfiles.brothersoft.com/f/funny-farm-animals_74857-1440x900.jpg')

    .col-xs-12.col-sm-4.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Leave Reviews
            .panel-body
              img.img-responsive.img-rounded(src='http://wfiles.brothersoft.com/f/funny-farm-animals_74857-1440x900.jpg')