extends layout

block content
  .row
    .col-lg-12
      .stage
        .stage-caption
          h3.display-3 For a Fresh Change Try HerbVoreLyfe
            h4 What are you waiting for!
            |</br>
            a.btn.btn-large.btn-primary(href='/') Get Started
    .col-lg-12
      .feature-content
        .col-sm-5
          h2 Check This Shiz Out
          h5 Some text to give this a great sub heading
          p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. 
        .col-sm-5.col-sm-offset-1
          h2 Check This Shiz Out
          h5 Some text to give this a great sub heading
          p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.


    
      