doctype html
html(ng-app='herbVoreLyfeApp')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/cyborg.bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/darkly.bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   .navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') HerbVoreLyfe
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/about/') About

    .container-fluid
      div(ng-view)
        block content

      footer
        .row
          .col-xs-12
            small &copy; Nigel John 2016
    
    script(src='/angular/angular.min.js')
    script(src='/lib/angular-resource.js')
    script(src='/lib/angular-route.js')
    script(src='/lib/angular-resource.js')
    script(src='/angular/HerbVoreLyfe.min.js')
    //- script(src='/app.js')
    //- script(src='/home/home.controller.js')
    //- script(src='/common/services/herbVoreLyfeData.services.js')  
    //- script(src='/common/services/geolocation.service.js') 
    //- script(src='/common/directives/ratingStars/ratingStars.directive.js')
    //- script(src='/common/filters/formatDistance.filter.js') 
    script(src='/javascripts/jquery-3.1.0.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/validation.js')
