extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h3 HerbVoreLyfe
          small &nbsp; Find vegan friendly eating establishments near you!

  .row
    .col-xs-12.col-sm-12
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/locations") Vegan World
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.badge-info.pull-right 100m
          p.address 125 Elm Street, Anytown, FL 32111
          p
            span.label.label-success Hot drinks
            &nbsp;
            span.label.label-success Food
            &nbsp;
            span.label.label-success wifi
            &nbsp;
       
        .col-xs-12.list-group-item
          h4
            a(href="/locations") Health Spot
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.badge-info.pull-right 100m
          p.address 125 Elm Street, Anytown, FL 32111
          p
            span.label.label-success Hot drinks
            &nbsp;
            span.label.label-success Food
            &nbsp;
            span.label.label-success wifi
            &nbsp;

        .col-xs-12.list-group-item
          h4
            a(href="/locations") Green Town
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.badge-info.pull-right 100m
          p.address 125 Elm Street, Anytown, FL 32111
          p
            span.label.label-success Hot drinks
            &nbsp;
            span.label.label-success Food
            &nbsp;
            span.label.label-success wifi
            &nbsp;